<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Classroom Voting</title>
<link rel="stylesheet" type="text/css" href="./css/mainstyle.css"/>
</head>
<body>
<div class="pagination-centered">
<div class="jumbotron">
<h1>Missing Answer</h1>
</div>
<div>
<h2>A question contains a blank answer!</h2>
</div>
</div>
</body>
</html>
