<?xml version="1.0"?>
<classroomvoting>
<type>join</type>
<sessionid>{$sessionID}</sessionid>
<userID>{$userID}</userID>
<questions>{$questions}</questions>
<receiptlength>{$receiptlength}</receiptlength>
<securitylevel>{$securitylevel}</securitylevel>
<publickey>{$publickey}</publickey>
</classroomvoting>



